@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
}
a{
    text-decoration: none;
}
P{
    margin: 0.75em 0;
}
.container{
    max-width: 1146px;
    margin: auto;
    padding: 0 2rem;
    overflow:hidden;
}
.text-center{
    text-align: center;
}
.text-primary{
    color: #93cb52;
    
}
.bg-light{
background: #f4f4f4;
color: #333;
}
.bg-dark{
    background: #333;
    color: #fff;
}
.bg-primary{
    background: #93cb52;
    color: #fff;
}
.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 4.1rem;
   
}


.m-heading{
    padding: 40px;
    font-size: 40px;
}
.n-heading{
    padding: 20px;
    font-size: 50px;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.btn{
    display: inline-block;
    color: #fff;
    background: #0a0a0a;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;

}
.btn:hover{background: #72c712;}


/* Navbar */
#navbar{
    display: flex;
    position: sticky;
    top: 0;
    background: #333;
    color: #fff;
    justify-content: space-between;
    padding: 1rem;
    z-index: 1;
}
#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}
#navbar ul li a{
    color: #fff ;
    padding: 0.75rem;
    margin: 0  0.25rem;
}
#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 5px;
}

/* Showcase */
#showcase{
    background: #333 url('./img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    
}
#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 2rem;
    /* Overlay */
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
 
  background-color: rgba(0, 0, 0, 0.4) ;
}
/* Section: What We Do */
#what .items{
    display: flex;
    padding: 1rem;
}
#what .items .item{
    flex: 1;
    text-align: center;
    padding: 1rem;
}
#what .items .item i{
    background: #93cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
#what .items .item h2{
    padding: 10px;
}
#what .m-heading-text-center{
    margin: 20px;
    text-align: center;
    font-size: 40px;
}
#who {
    display: flex;
}
#who div{
    flex: 1;
}
.who-img img {
    width: 100%;
    height: 100%;
}
#who .who-text {
    padding: 30px;
}
#who .who-text ul {
    margin-top: 130px;
}
#who .who-text ul li {
    border-bottom: 2px solid #f4f4f467;
    padding: 10px 0;
}
#who .who-text h2{
    font-size: 40px;
}
#who .who-text h3{
    font-size: 30px;
}
.who-text p{
    padding: 30px 0;
    font-size: 20px;
}
#who ul li{
    list-style: none;
}
/* Section: Clients */
#clients .items{
    display: flex;

}
#clients .items img{
    display: block;
    margin: auto;
    width: 20%;
    padding: 30px;
}

/* Section: Contact */
  
  /* #contact .map, */
  #contact .contact-form {
      display: flex;
  }
  .contact-img{
      width: 50%;
  }
  .contact-img img {
      width: 100%;
      height: 100%;
  }
  .contact {
      background: #60a80d;
      padding: 20px 10px;
      width: 50%;
      color: #fff;
  }
  #contact .contact-form .form-group {
    margin: 0.75rem;
  }
  
  #contact .contact-form label {
    display: block;
  }
  
  #contact .contact-form input,
  #contact .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
  }
  #contact p{
      padding: 0 15px;
  }
  /* Dynamic Copyright Code */
  .copyright-link {
    color: #f8f9fa;
  }
  
  .copyright-link:hover {
    color: rgb(89, 211, 18);
    text-decoration: none;
  }
  
  /* Misc. */
  .contact-image {
    line-height: 0;
  }
  .submit-button {
    cursor: pointer;
  }
 @media(max-width:768px){
     #who{
         display: block;
     }
     #who .who-img{
         display: none;
     }
     .contact-form{
         flex-direction: column;
     }
     .contact-form .contact-img{
        width: 100%;
     }
     .contact-form form{
        width: 100%;
     }
     #contact .map{
         height: 200px;
         border-top: 4px solid #333;
     }
    .l-heading{
        line-height: 4.1rem;
    }
    #clients .items img{
        width: 20%;
        }
 }
 @media(max-width:576px){
     .l-heading{
         font-size: 1.7rem;
     }
     .lead{
         font-size: 1rem;
     }
     #navbar{
         flex-direction: column;
         align-items: center;
     }
     .logo{
         margin-bottom: 1rem;
     }
     #showcase .showcase-content{
         top: 94px;
     }
     #what .items{
         flex-direction: column;
     }
     .m-heading{
        font-size: 2rem;
    }
    
    #clients .items img{
        width: 40%;
        }
    
 }
 @media(max-width:330px){
    #clients .items img{
        width: 40%;
        }
 }